<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SelectedDbProviderType" value="SqlServer" />
		<add key="ServerName" value="(local)" />
		<add key="UserName" value="sa" />
		<add key="Password" value="" />
		<!--<add key="SelectedDatabase" value="" />-->
		<!--<add key="SelectedTables" value="" />-->
		<add key="SelectedExportProviderType" value="SemicolonCsv" />
	</appSettings>
</configuration>
